@model labSP.Models.MathOutput
@{
    ViewBag.Title = "Answers";
}
<div class="mydiv">
    <h2>Входные данные</h2>
    <table class="mytable">
        <tr>
            <th class="mynotmy">Компоненты сплава </th>
            <th class="mynotmy">Сплав №1</th>
            <th class="mynotmy">Сплав №2</th>
            <th class="mynotmy">Сплав №3</th>
            <th class="mynotmy">Общее кол-во</th>
            <th class="mynotmy">Минимум</th>
            <th class="mynotmy">Максимум</th>
        </tr>
        <tr>
            <th class="mynotmy">Cu</th>
            <th class="mynotmy">@Model.inputs.Alloy[0].Cu</th>
            <th class="mynotmy">@Model.inputs.Alloy[1].Cu</th>
            <th class="mynotmy">@Model.inputs.Alloy[2].Cu</th>
            <th class="mynotmy">@Model.cusum</th>
            <th class="mynotmy">@Model.inputs.Cuvalue.min</th>
            <th class="mynotmy">@Model.inputs.Cuvalue.max</th>
        </tr>
        <tr>
            <th class="mynotmy">Sn</th>
            <th class="mynotmy">@Model.inputs.Alloy[0].Sn</th>
            <th class="mynotmy">@Model.inputs.Alloy[1].Sn</th>
            <th class="mynotmy">@Model.inputs.Alloy[2].Sn</th>
            <th class="mynotmy">@Model.snsum</th>
            <th class="mynotmy">@Model.inputs.Snvalue.min</th>
            <th class="mynotmy">@Model.inputs.Snvalue.max</th>
        </tr>
        <tr>
            <th class="mynotmy">Pb</th>
            <th class="mynotmy">@Model.inputs.Alloy[0].Pb</th>
            <th class="mynotmy">@Model.inputs.Alloy[1].Pb</th>
            <th class="mynotmy">@Model.inputs.Alloy[2].Pb</th>
            <th class="mynotmy">@Model.pbsum</th>
            <th class="mynotmy">@Model.inputs.Pbvalue.min</th>
            <th class="mynotmy">@Model.inputs.Pbvalue.max</th>
        </tr>
        <tr>
            <th class="mynotmy">Zn</th>
            <th class="mynotmy">@Model.inputs.Alloy[0].Zn</th>
            <th class="mynotmy">@Model.inputs.Alloy[1].Zn</th>
            <th class="mynotmy">@Model.inputs.Alloy[2].Zn</th>
            <th class="mynotmy">@Model.znsum</th>
            <th class="mynotmy">@Model.inputs.Znvalue.min</th>
            <th class="mynotmy">@Model.inputs.Znvalue.max</th>
        </tr>
        <tr>
            <th class="mynotmy">Стоимость 1 кг</th>
            <th class="mynotmy">@Model.inputs.Alloy[0].Cost</th>
            <th class="mynotmy">@Model.inputs.Alloy[1].Cost</th>
            <th class="mynotmy">@Model.inputs.Alloy[2].Cost</th>
        </tr>
    </table>

    <h2>Кол-во сплавов</h2>
    @foreach (var elem in Model.answers)
    {
        <h6>Сплав @(Model.answers.IndexOf(elem)+1): @elem кг</h6>
    }
    <h2>Сумма сплавов: @Model.totalweight</h2>
    <h2>Итоговая стоимость: @Model.totalcost</h2>

</div>